---
Language:        Cpp
BasedOnStyle:  LLVM
# Fromn here on, I specify only what I want different from the LLVM style
ColumnLimit: 100
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Left
AlignOperands: false
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BraceWrapping:   
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 3
ContinuationIndentWidth: 3
IndentPPDirectives: AfterHash
IndentWidth: 3
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PointerAlignment: Left
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
...

